# Node.js
node_modules/
dist/
.angular/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VSCode
.vscode/
*.code-workspace

# Logs
logs/
*.log
*.tlog

# Build
bin/
obj/

# Environment
*.env

# ASP.NET Core
appsettings.Development.json
appsettings.Local.json

# OS
.DS_Store
Thumbs.db
